#header1 {
  background-color: #8E9AF5;
  text-align: center;
}

#box1 {
text-align: center;
background-color: #070101;
font-size: 30px;
font-family: 'Libre Franklin', sans-serif;
}

#total1 {
background-color: #F7C2C2;
font-size: 30px;
font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: pink;
}
img {
   max-height: 300px;
   max-width: 300px;
 }
